/* Arbeit von Sven */
/* --------------- */
body {
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    column-gap:  50px;
}

main {
    padding: 16px;
}

.PreviewCard {
    margin-bottom: 16px;
    padding: 16px;
    box-shadow: 0 0 5px #aaa;
}

.PreviewCard:hover {
    transform: scale(1.01);
}

.PreviewCard--Row {
    display: flex;
    flex-wrap: wrap;
    line-height: 32px;
}

.PreviewCard--Btn {
    margin-top: 16px;
}

img {
    min-height: 10px;
    min-width: 50px;
    max-height: 150px;
    max-width: 500px;
}

#mandoPic {
    max-height: 123px;
    max-width: 400px;
}
